@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 28vmax;
}

body {
  font-family: "Poppins", sans-serif;
}
body .container {
  min-width: 255px;
  overflow: hidden;
  height: auto;
  isolation: isolate;
}
body .container header {
  z-index: 100;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: -1;
}
body .container header .top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container header .top-header h1 {
  font-size: 20px;
  font-weight: 800;
}
body .container header .top-header .navBarMobile {
  width: 100%;
  display: flex;
  width: 100%;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease;
}
body .container header .top-header .navBarMobile ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .container header .top-header .navBarMobile ul li {
  list-style-type: none;
}
body .container header .top-header .navBarMobile ul li a {
  font-weight: 700;
  font-size: 16px;
  z-index: 9999;
}
body .container header .top-header .navBarMobile.active {
  height: 300px;
}
body .container header .top-header .navBarTDesktop {
  display: none;
}
body .container header .nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 22px;
  right: 30px;
  cursor: pointer;
}
body .container header .nav-icon p {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container header .nav-icon p i {
  font-size: 25px;
}
body .container #home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 255px;
  height: 100vh;
  position: relative;
  gap: 20px;
  isolation: isolate;
}
body .container #home .imagepops {
  z-index: 999;
  width: 100%;
  height: 100vh;
  position: absolute;
}
body .container #home .imagepops ul {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 3;
  width: 100%;
  height: 100vh;
}
body .container #home .imagepops ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
body .container #home .imagepops ul li img {
  width: 80px;
  height: 80px;
  opacity: 0;
  border-radius: 50%;
}
body .container #home .imagepops ul li:nth-child(1) img {
  animation: 5s popUps infinite;
  animation-delay: 6s;
}
body .container #home .imagepops ul li:nth-child(2) img {
  animation: 5s popUps infinite;
  animation-delay: 10s;
}
body .container #home .imagepops ul li:nth-child(3) img {
  animation: 5s popUps infinite;
  animation-delay: 4s;
}
body .container #home .imagepops ul li:nth-child(4) img {
  animation: 5s popUps infinite;
  animation-delay: 10s;
}
body .container #home .imagepops ul li:nth-child(5) img {
  animation: 5s popUps infinite;
  animation-delay: 3s;
}
body .container #home .imagepops ul li:nth-child(6) img {
  animation: 5s popUps infinite;
  animation-delay: 7s;
}
body .container #home .imagepops ul li:nth-child(7) img {
  animation: 5s popUps infinite;
  animation-delay: 1s;
}
body .container #home .imagepops ul li:nth-child(8) img {
  animation: 5s popUps infinite;
  animation-delay: 10s;
}
body .container #home #bGimage {
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
body .container #home .home-content {
  height: 400px;
  z-index: 999;
  padding: 0 20px;
  animation: 0.5s homeAnimate linear;
  animation-timing-function: ease;
}
body .container #home .home-content h1 {
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
}
body .container #home .home-content h1 span {
  font-size: 25px;
  letter-spacing: 1px;
}
body .container #home .home-content h3 {
  font-size: 16px;
  color: brown;
}
body .container #home .home-content .frontEnd {
  color: teal;
  font-size: 16px;
  letter-spacing: normal;
  animation: 5s changeColor infinite;
}
body .container #home .cv-resume {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  animation: 0.6s homeAnimate linear;
  animation-timing-function: ease;
  z-index: 99999;
  cursor: pointer;
  transition: 0.5s ease;
}
body .container #home .cv-resume a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: brown;
  transition: 0.3s ease-in-out;
}
body .container #home .cv-resume a:hover {
  color: black;
}
body .container #home::after {
  content: "";
  inset: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(to bottom, rgb(8, 3, 53), rgb(60, 71, 167), rgba(226, 224, 217, 0.2));
  opacity: 98%;
  z-index: -1;
}

@keyframes homeAnimate {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popUps {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 50%;
  }
}
@keyframes changeColor {
  0% {
    color: teal;
  }
  50% {
    color: rgb(59, 248, 232);
  }
  100% {
    color: teal;
  }
}
@media only screen and (min-width: 330px) {
  body .container #home .home-content h1 {
    font-size: 30px;
  }
  body .container #home .home-content h1 span {
    font-size: 35px;
  }
  body .container #home .home-content h3 {
    font-size: 16px;
  }
  body .container #home .home-content h3 .frontEnd {
    font-size: 20px;
  }
}
@media only screen and (min-width: 512px) {
  body .container #home .home-content {
    width: 400px;
    padding: 0;
  }
  body .container #home .home-content h1 {
    font-size: 30px;
  }
  body .container #home .home-content h1 span {
    font-size: 45px;
  }
  body .container #home .home-content h3 {
    font-size: 25px;
  }
  body .container #home .home-content h3 .frontEnd {
    font-size: 30px;
  }
}
@media only screen and (min-width: 820px) {
  body .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  body .container header {
    z-index: 100;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: -1;
  }
  body .container header .top-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body .container header .top-header h1 {
    font-size: 20px;
    font-weight: 800;
  }
  body .container header .top-header .navBarMobile {
    display: none;
  }
  body .container header .top-header .navBarTDesktop {
    display: block;
  }
  body .container header .top-header .navBarTDesktop ul {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  body .container header .top-header .navBarTDesktop ul li {
    list-style: none;
  }
  body .container header .top-header .navBarTDesktop ul li a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  body .container header .nav-icon {
    display: none;
  }
  body .container #home .home-content {
    width: 600px;
    padding: 0;
  }
  body .container #home .home-content h1 {
    font-size: 40px;
  }
  body .container #home .home-content h1 span {
    font-size: 75px;
    line-height: 110px;
  }
  body .container #home .home-content h3 {
    line-height: 10px;
    font-size: 35px;
  }
  body .container #home .home-content h3 .frontEnd {
    font-size: 45px;
  }
}/*# sourceMappingURL=index.css.map */