@media only screen and (min-width:465px) {
    body {
        .side-bar-container {
            .container {
                .section-holder {

                    justify-content: center;

                    .offers-container {
                        .front-page {
                            h1 {
                                font-size: 35px;
                            }

                            h3 {
                                font-size: 20px;
                                word-spacing: 10px;
                                padding: 10px 10px;
                            }

                            p {
                                font-size: 20px;
                            }
                        }

                    }

                    #socials {

                        gap: 20px;

                        li {
                            width: 40px;
                            height: 40px;

                            a {
                                font-size: 30px;
                            }
                        }
                    }

                    .cv-resume {
                        width: 50%;
                    }
                }

                #abutme {
                    .about-content {
                        gap: 10px;

                        .about-section {
                            width: 80%;
                            height: 200px;

                            .read-icon {
                                padding: 5px 0px 0px 0px;
                                display: flex;
                                flex-direction: column;
                                z-index: 999;
                                align-items: center;


                                span {

                                    color: white;
                                    text-align: center;
                                    font-size: 12px;

                                }

                                p {
                                    background-color: none;

                                    i {
                                        color: white;
                                        z-index: 999;

                                    }

                                    i:hover {
                                        color: green;
                                    }
                                }



                            }
                        }
                    }
                }

                #project {
                    padding: 50px 0 20px;

                    .videos-container {

                        width: 100%;
                        display: grid;
                        grid-template-rows: repeat(3, 1fr);
                        padding: 0 40px;
                        gap: 10px;


                        .videos-sample {
                            min-width: 150px;
                            height: 200px;




                            video {
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }


            }
        }
    }
}

@media only screen and (min-width:700px) {
    body {
        .side-bar-container {


            .container {


                header {
                    .nav-icon {
                        display: none;
                    }

                    .navBar {
                        opacity: 1;
                        position: static;
                        height: 100%;
                        background: transparent;
                        box-shadow: none;
                        width: 70%;
                        gap: 20px;




                        ul {
                            flex-direction: row;
                            gap: 5px;

                            li {

                                display: flex;
                                justify-content: center;

                                a {
                                    display: block;
                                    font-size: 15px;
                                    color: white;
                                }
                            }
                        }


                    }


                }

                .section-holder {

                    .offers-container {
                        .front-page {
                            h1 {
                                font-size: 40px;
                            }

                            h3 {
                                font-size: 25px;
                                word-spacing: 10px;
                                padding: 10px 10px;
                            }

                            p {
                                font-size: 20px;
                            }
                        }

                    }

                    #socials {
                        gap: 20px;

                        li {
                            width: 35px;
                            height: 35px;

                            a {
                                font-size: 25px;


                            }
                        }
                    }

                    .cv-resume {
                        width: 40%;
                    }
                }

                #abutme {

                    padding: 40px 20px 0px 20px;

                    h1 {
                        font-size: 45px;
                    }

                    h1::after {
                        width: 210px;
                    }

                    h1::before {
                        width: 210px;
                    }

                    .about-content {

                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 10px;
                        padding: 0 40px;

                        .about-section {
                            width: 100%;
                            height: 250px;



                            h2 {
                                font-size: 20px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            .read-icon {
                                padding: 5px 0px 0px 0px;
                                display: flex;
                                flex-direction: column;
                                z-index: 999;
                                align-items: center;


                                span {

                                    color: white;
                                    text-align: center;
                                    font-size: 12px;

                                }

                                p {
                                    background-color: none;

                                    i {
                                        color: white;
                                        z-index: 999;

                                    }

                                    i:hover {
                                        color: green;
                                    }
                                }



                            }
                        }
                    }
                }

                #project {
                    padding: 50px 20px 0px 20px;

                    .videos-container {

                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        padding: 0 20px;
                        gap: 10px;


                        .videos-sample {
                            min-width: 200px;
                            height: 250px;




                            video {
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }

                #contact {
                    .send {
                        padding: 0 100px;
                    }
                }



            }
        }
    }


}


@media only screen and (min-width:800px) {


    body {
        .side-bar-container {


            .container {


                header {
                    .nav-icon {
                        display: none;
                    }

                    nav {
                        opacity: 1;
                        position: static;
                        height: 100%;
                        background: transparent;
                        box-shadow: none;
                        width: 70%;
                        gap: 20px;




                        ul {
                            flex-direction: row;
                            gap: 5px;

                            li {

                                display: flex;
                                justify-content: center;

                                a {
                                    display: block;
                                    font-size: 15px;
                                    color: white;
                                }
                            }
                        }


                    }


                }

                .section-holder {


                    .offers-container {
                        .front-page {
                            h1 {
                                font-size: 40px;
                            }

                            h3 {
                                font-size: 25px;
                                word-spacing: 10px;
                                padding: 10px 10px;
                            }

                            p {
                                font-size: 20px;
                            }
                        }

                    }

                    #socials {
                        gap: 20px;

                        li {
                            width: 35px;
                            height: 35px;

                            a {
                                font-size: 25px;


                            }
                        }
                    }

                    .cv-resume {
                        width: 40%;
                    }
                }

                #abutme {
                    padding: 60px 20px 0px 20px;

                    h1 {
                        font-size: 45px;
                    }

                    h1::after {
                        width: 210px;
                    }

                    h1::before {
                        width: 210px;
                    }

                    .about-content {

                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 10px;
                        padding: 0 40px;

                        .about-section {
                            width: 100%;



                            h2 {
                                font-size: 20px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            .read-icon {
                                padding: 5px 0px 0px 0px;
                                display: flex;
                                flex-direction: column;
                                z-index: 999;
                                align-items: center;


                                span {

                                    color: white;
                                    text-align: center;
                                    font-size: 12px;

                                }

                                p {
                                    background-color: none;

                                    i {
                                        color: white;
                                        z-index: 999;

                                    }

                                    i:hover {
                                        color: green;
                                    }
                                }



                            }

                        }
                    }
                }

                #project {
                    padding: 60px 20px 0px 20px;

                    .videos-container {

                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        padding: 0 20px;
                        gap: 10px;


                        .videos-sample {
                            min-width: 200px;
                            height: 100%;




                            video {
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }



            }
        }
    }

}

@media only screen and (min-width:1200px) {

    body {

        .menuOnscroll.active {
            height: 50px;
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 200;

            transform: scaleX(-1);
            background: linear-gradient(rgb(54, 54, 245, ), rgba(0, 0, 0, ));

            .top-nav.active {
                flex: 1;
                transform: translateX(0);
                position: absolute;
                right: 300px;


                ul {
                    display: flex;
                    gap: 10px;
                    transform: scaleX(-1);
                    padding-left: 30px;

                    li {
                        list-style: none;

                        a {

                            font-size: 16px;
                            color: white;
                            font-weight: 700;
                            text-decoration: none;
                        }
                    }
                }
            }



        }

        .side-bar-container {
            width: 1200px;
            margin: 0 auto;

            .sidebar-container {
                width: 400px;

                .name {
                    h1 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            .container {


                header {
                    padding: 0 80px;

                    .nav-icon {
                        display: none;
                    }

                    nav {
                        opacity: 1;
                        position: static;
                        height: 100%;
                        background: transparent;
                        box-shadow: none;
                        width: 70%;
                        gap: 20px;




                        ul {
                            flex-direction: row;
                            gap: 5px;

                            li {

                                display: flex;
                                justify-content: center;

                                a {
                                    display: block;
                                    font-size: 15px;
                                    color: white;
                                }
                            }
                        }


                    }


                }

                .section-holder {


                    .offers-container {
                        width: 60%;

                        .front-page {
                            h1 {
                                font-size: 60px;
                            }

                            h3 {
                                font-size: 35px;
                                word-spacing: 10px;
                                padding: 10px 10px;
                            }

                            p {
                                font-size: 25px;
                            }
                        }

                    }

                    #socials {
                        gap: 20px;

                        li {
                            width: 50px;
                            height: 50px;

                            a {
                                font-size: 35px;


                            }
                        }
                    }

                    .cv-resume {
                        width: 40%;
                    }
                }

                #abutme {
                    padding: 60px 20px 0px 20px;
                    gap: 40px;

                    h1 {
                        font-size: 60px;
                    }

                    h1::after {
                        width: 300px;
                    }

                    h1::before {
                        width: 300px;
                    }

                    .about-content {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 20px;
                        padding: 0 10px;

                        .about-section {
                            width: 100%;
                            height: 300px;



                            h2 {
                                font-size: 30px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            .readmore {
                                padding: 60px 40px;
                                font-size: 16px;
                                line-height: 20px;
                            }

                            .read-icon {
                                padding: 5px 0px 0px 0px;
                                display: flex;
                                flex-direction: column;
                                z-index: 999;
                                align-items: center;



                                span {

                                    color: white;
                                    text-align: center;
                                    font-size: 16px;

                                }

                                p {
                                    background-color: none;

                                    i {
                                        color: white;
                                        z-index: 999;

                                    }

                                    i:hover {
                                        color: green;
                                    }
                                }



                            }
                        }
                    }
                }

                #project {

                    padding: 60px 20px 0px 20px;

                    gap: 40px;

                    h1 {
                        width: 700px;
                        font-size: 50px;
                    }

                    h1::after {
                        width: 390px;
                        left: 155px
                    }

                    h1::before {
                        width: 390px;

                    }

                    .videos-container {

                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        padding: 0 10px;
                        gap: 20px;


                        .videos-sample {
                            min-width: 200px;
                            height: 300px;




                            video {
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }

                #contact {
                    width: 100%;

                    .send {
                        width: 80%;
                    }
                }



            }
        }
    }
}