.handsOnTools {
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  align-items: center;
  gap: 20px;

  ul {
    flex: 1 0 100%;

    height: 60px;
    display: flex;
    gap: 20px;
    animation: animate 35s infinite linear;

    li {
      list-style-type: none;
      flex: 1 0 80px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

@keyframes animate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
